<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link href='@Url.Content("~/favicon.ico")' rel="shortcut icon" type="image/x-icon" />
        <link href='@Url.Content("~/assets/testpage.css")' type="text/css" rel="stylesheet" />
    </head>
    <body>
        @RenderBody()
    </body>
</html>
